.page-content {
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}

.no_text_decoration {
    text-decoration: none;
}
.img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}